{% extends "layout/base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Create New Project</h1>
    
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Project Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary">Create Project</button>
    </form>
</div>
{% endblock %}
